<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Matfix.cz{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container text-center">
                <h1>
                    Projekt api.matfix.cz
                </h1>
                <p class="text-center">
                    pokračuj buď do <a href="{{ path('admin') }}">administrace</a> nebo si prohlídni náš <a href="https://new.matfix.cz">web</a>
                    <br>

                    Mír
                </p>
            </div>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
